body {
  background-color: black;
  color: black;
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 0;
}

a {text-align: center;
    text-decoration: none;
    color:blue;
}
a:hover p{
    color:red;
    font-size:120%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .logo a {
  color: green;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

@keyframes bounce {
  0%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar ul li:hover .dropdown {
  display: block;
}



.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  min-width: 150px;
}

.dropdown a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #555;
}
.ctitle {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 20px;
}

.cdiv80 {
  margin: 50px auto;
  width: 90%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  overflow: hidden; /* 防止浮动溢出 */
}

.ccol {
  float: left;
  padding: 10px;
  padding-top:30px;
  width: 48%; 
  text-align: center;
}

.ccol img {
  width: 100%;
  max-width: 400px; 
  object-fit: cover; 
  height: 250px;
  border-radius: 10px; 
  transition: transform 0.3s ease;
}
.ccol img:hover {
  transform: scale(1.1);
  z-index:100; /* 确保图片放大时在最前面 */
}
.ccol p {
  font-size: 20px;
  color: black;
}
