body {
    font-family: 'EB Garamond', serif;
      margin: 20px;
      background-color: #f0f0f0;
      text-align: center;    margin: 0;
  padding: 0;
    }
    .comment-section, .response-section {
      margin-bottom: 20px;
    }
    
a {text-align: center;
    text-decoration: none;
    color:blue;
}
a:hover p{
    color:red;
    font-size:120%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .logo a {
  color: green;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

@keyframes bounce {
  0%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar ul li:hover .dropdown {
  display: block;
}



.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  min-width: 150px;
}

.dropdown a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #555;
}
    textarea {
      width: 100%;
      height: 100px;
      margin-bottom: 10px;
    }
    button {
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    .response {
      background-color: white;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ctitle {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 20px;
  font-family: 'EB Garamond', serif;
}

.cdiv80 {
  margin: 50px auto;
  width: 90%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  overflow: hidden; 
}